<section class='py-4'>
  <div class="text-capitalize text-center py-4">
      <h1 class="display-4">welcome home</h1>
      <p class="w-75 mx-auto mt-4">this is a payment app with <strong>STRIPE and NODE</strong>. i integrated the <strong>STRIPE API</strong> to use the payment facility with cards. Stripe is a software platform for running an internet business. you can test the payment method by the test card number <strong>4242 4242 4242 4242</strong> and use anything for month, year and CVV.</p>
  </div>

  <div class="text-center">
      <button class="text-capitalize text-center btn btn-dark btn-lg"><a style="text-decoration: none" href="/ebook" class="text-white">take me to the buying page</a></button>
  </div>
</section>