<section class='py-2'>
  <div class='row'>
    <div class='col-md-6 text-center'>
      <h1 class='display-3 mt-3 pt-5'>Web Developement Ebook</h1>
      <p class='lead text-capitalize'>learn web development front to back</p>
      <form action="/charge" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js"
          class="stripe-button"
          data-key="{{spk}}"
          data-amount="2500"
          data-name="Ebook"
          data-description="Web Developement Ebook"
          data-image="http://via.placeholder.com/100x100"
          data-locale="auto">
        </script>
      </form>

      <div class="mt-3">
        <p class="text-capitalize text-secondary">*use test card number 4242 4242 4242 4242</p>
      </div>
    </div>
    
    <div class='col-md-6'>
      <img src="https://www.packtpub.com/sites/default/files/9781783983285.png" alt='' class='mt-3 pt-5 w-50'/>
    </div>
  </div>
</section>
