<section class='py-2'>
  <div class='row'>
    <div class='col-md-6 text-center'>
      <h1 class='display-3 mt-3 pt-5'>Web Developement Ebook</h1>
      <p class='lead'>learn web development front to back</p>
      <form action="/charge" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js"
          class="stripe-button"
          data-key="{{spk}}"
          data-amount="2500"
          data-name="Ebook"
          data-description="Web Developement Ebook"
          data-image="http://via.placeholder.com/100x100"
          data-locale="auto">
        </script>
      </form>
    </div>
    <div class='col-md-6'>
      <img src='http://via.placeholder.com/250x325' alt='' class='mt-3 pt-5'/>
    </div>
  </div>
</section>
