<section class='py-5'>
  <h1 class='display-3'>Thak You</h1>
  <p class='lead'>Your Eook Should be Emailed To You Within 24 Hours</p>
  <a href='/' class='btn btn-dark btn-lg'>Go Back Home</a>
</section>
